<section class="l-app -main -home -full">
  <div class="l-app-map">
    <%= link_to map_path do %>
      <div id="map" class="c-map"></div>
    <% end %>
  </div>
  <div class="l-app-claim">
    <div class="c-claim">
      <div class="row">
        <div class="column small-7">
          <h1>The Go Map</h1>
          <p>
            The GO Map is a free tool that helps users initiate partnerships,
            promote their work and develop collaborations in cancer control.
          </p>
          <div class="c-claim-buttons">
            <%= link_to 'Login', user_session_path, class: 'c-btn -primary'%>
            <%= link_to 'Sign Up For Free', '/users/sign_up', class: 'c-btn -primary'%>
          </div>
        </div>
        <div class="column small-5">
          <h2>Use To:</h2>
          <ul>
            <li>Promote research &amp; Projects</li>
            <li>Find new collaborators</li>
            <li>Allow funders to find projects</li>
            <li>Highlight events</li>
            <li>Post the latest news</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
