<% title 'Welcome' %>
<% content_for :description do %>The GO Map catalogs international cancer research, cancer care, and cancer outreach programs. The GO Map aligns cancer care efforts of governmental agencies, non-profit organizations, academic institutions and industry partners.<% end %>
<%= render "shared/icons_home" %>

<% if browser.device.mobile? %>
  <%= render "mobile_intro" %>
<% else %>
  <%= render "desktop_intro" %>
<% end %>

<section class="l-grid" id="content">
  <%= render 'home/list' %>
</section>

<section class="l-content wrapper">
  <div class="row collapse align-center">
    <div class="column small-12 home-sponsors">
      <h2>Our Sponsors</h2>
      <div class="logos">
        <img src="/images/home/elekta-logo.gif" alt="Elekta">
        <img src="/images/home/rutgers-logo.gif" alt="Rutgers Global Health Initiative">
        <img src="/images/home/stanford-logo.gif" alt="Stanford Center For Innovation In Global Health">
      </div>
    </div>
  </div>
</section>

<section class="l-content wrapper">
  <div class="c-widget-featured">
    <div class="row collapse align-center">
      <div class="column small-3">
        <div id="widgets-select"></div>
      </div>
      <div class="column small-12">
        <div id="widgets-graph" class="c-graph"></div>
      </div>
    </div>
  </div>

  <div class="c-spinner -start">
   <div class="spinner-box">
     <div class="icon"></div>
   </div>
 </div>
</section>
