<div class="blog-cta">
  <h3>The GO Map</h3>
  <p>
    The GO Map is a free tool that helps users initiate partnerships,
    promote their work and develop collaborations in cancer control.
  </p>
  <p>
    <a href="/map" class="c-btn -transparent">Explore the map</a>
  </p>
</div>
