<div class="blog-cta">
  <a href="/map" title="The GO Map is a free tool that helps users initiate partnerships, promote their work and develop collaborations in cancer control. Explore the map.">
    <img src="/images/blog/blog-map-cta.jpg" alt="The GO Map is a free tool that helps users initiate partnerships, promote their work and develop collaborations in cancer control. Explore the map.">
  </a>
</div>
