<ul class="blog-social-nav">
  <li><%= t 'follow_us' %></li>
  <li>
    <a href="https://www.linkedin.com/company/global-oncology-inc-/" alt="Linkedin" title="Linkedin">
      <svg class="c-icon icon-linkedin -primary -hv-opac"><use xlink:href="#icon-linkedin"></use></svg>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/globalonc" alt="Twitter" title="Twitter">
      <svg class="c-icon icon-twitter -primary -hv-opac"><use xlink:href="#icon-twitter"></use></svg>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/globalonc" alt="Facebook" title="Facebook">
      <svg class="c-icon icon-facebook -primary -hv-opac"><use xlink:href="#icon-facebook"></use></svg>
    </a>
  </li>
</ul>
