
<% if params[:q] %>
  <% title "Blog Search for " + params[:q] %>
<% else %>
  <% title "Blog Posts" %>
<% end %>
<div class="l-content posts-index">
  <div class="wrapper">
    <h1>Blog</h1>
    <p class="lead">The latest cancer news and updates from around the world.</p>
    <div class="row collapse">
      <div class="column small-9">
        <div id="posts-list"><%= render(partial: "all_posts_list", locals: {items: @items, more: @more}) %></div>
      </div>
      <div class="column small-3">
        <%= render "search" %>
        <%= render "cta" %>
        <%= render "social-nav" %>
      </div>
    </div>
  </div>
</div>
