
<div class="l-content posts-index">
  <div class="wrapper">
    <h1>Blog</h1>
    <p class="lead">Lorem ipsum dolor sit amet.</p>
    <div class="row collapse">
      <div class="column small-9">
        <div id="posts-list"><%= render(partial: "all_posts_list", locals: {items: @items, more: @more}) %></div>
      </div>
      <div class="column small-3">
        <%= render "search" %>
      </div>
    </div>
  </div>
</div>
