.l-footer-mobile {
  padding-top: $base-space;
  padding-bottom: $base-space * 2;
  border-top: 1px solid $border-color-1;

  @media #{$mq-small} {
    padding-bottom: $box-space;
    padding-top: $box-space;
  }

  .follow {
    margin-bottom: $base-space;
  }

  .list {
    margin-bottom: $base-space + 2px;

    > .row {
      margin-bottom: $inline-space - 3px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.-primary {
      &  * {
       color: $primary-color;
      }
    }
  }

  div.with-megamenu {
    position: relative;
  }

  .megamenu{
    position: static;
    display: none;
    background: #FFF;
    white-space: normal;
    z-index: 10;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-height: 300px;
    overflow: auto;
    margin-bottom: 30px;
    &:before,
    &:after{
      display: none;
    }
    &.active {
      display: block;
    }
    ul {
      display: inline-block;
      width: 49%;
      vertical-align: top;
    }
  }
}
