//TODO: waiting for responsive
.c-nav {
  flex-wrap: wrap;

  &.-social {
    flex-wrap: nowrap;
  }
  li{
    position: relative;
    .megamenu{
      position: absolute;
      left: -999em;
      display: none;
      background: #FFF;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      white-space: normal;
      border: 1px solid #e5e5e5;
      & > div{
        width: 420px;
        max-height: 500px;
        overflow-y: auto;
        padding: 15px 15px 5px;
      }
      &:before{
        position: absolute;
        display: block;
        content: '';
        top: -10px;
        left: 50%;
        border-bottom: 10px solid #FFF;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        transform: translateX(-50%);
        z-index: 10;
      }
      &:after{
        position: absolute;
        display: block;
        content: '';
        top: -11px;
        left: 50%;
        border-bottom: 10px solid #e5e5e5;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        transform: translateX(-50%);
        z-index: 9;
      }
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 49%;
        vertical-align: top;
        li{
          margin: 0;
          padding: 0 0 10px;
          a{
            display: inline;
            padding: 0;
            line-height: 1em;
            &:hover{
              color: #5aade4;
            }
          }
        }
      }
    }
    &:hover .megamenu{
      display: block;
      left: auto;
      top: 100%;
      transform: translateX(-37%);
    }
  }
}

.c-nav,
.c-nav > ul {
  @extend %clearlist;

  display: flex;

  > h2 {
    margin-right: $base-space;
    margin-top: 0;
    margin-bottom: 0;
    transform: translateY(-4px);
  }

  > li {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: $base-space;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }

    &:hover > a { color: $primary-color; }
    &:hover > button { color: $primary-color; }
  }

  > button {
    padding: 0;
  }

  & + .c-nav,
  & + ul {
    &:before {
      display: block;
      content: " ";
      height: 30px;
      width: 0;
      margin-left: $base-space;
      margin-right: $base-space;

      border-left: 1px solid $border-color-1;
    }
  }

  &.-inverse {
    a {
      color: $primary-color;
    }
  }

  &.-main {
    justify-content: flex-end;

    li {
       > a, > button {
         display: flex;
         position: relative;
         line-height: 24px;
         padding: $base-space 0.5rem;

         &.user-btn { padding: 0; }
       }

       &.-active > a {
         color: $secondary-color;
         font-weight: normal;

         &:after {
           content: '';
           position: absolute;
           left: 50%;
           bottom: 0;
           margin-left: -5px;
           width: 10px;
           border-bottom: 3px solid $secondary-color;
           z-index: 1;
         }
       }
     }
  }
}
