.posts-index{
  h3{
    span{
      display: inline-block;
      &:not(:last-child){
        padding-right: 10px;
      }
      & + span{
        padding-left: 10px;
      }
      &.post-date{
        border-left: 1px solid #000;
        font-weight: normal;
      }
    }
  }
}

.post-show{
  .share-container{
    padding: 20px 0;
    margin-left: -9px;
  }
  form + .sidebar-box{
    padding-top: 20px
  }
  .sidebar-box{
    padding: 10px 0;
    h4{
      margin: 0;
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        margin: 0;
        position: relative;
        &:not(:last-child):after {
          display: inline-block;
          content: ', ';
        }
      }
    }
    & + .sidebar-box{
      border-top: 1px solid #E5E5E5;
    }
  }
}

.posts-search-wrapper{
  padding-left: 15px;
  .search-field{
    position: relative;
    padding-right: 42px;
    button{
      position: absolute;
      right: 0;
      top: 3px;
    }
  }
}
