#registration {
  .notice {
    margin: 0 0 30px;
    padding: 15px;
    border: 1px solid #BDDCF1;
    background: #D4E8F6;

    h3 {
      font-size: 1.1rem;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}
