<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>We are so pleased you joined The GO Map today and look forward to your contributions.</p>

<p>Please visit <%= link_to (t 'about'), about_path %> to view all you can do on The Map and how to do it including posting projects, events, adding updates and blog posts and connecting with others interested in oncology.</p>

<p>Contact us at <a href="mailto:support@globalonc.org">support@globalonc.org</a> with any questions you may have. </p>

<p>Thanks - The GO Team</p>